on:
  pull_request:
  push:
   branches:
     - main
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

jobs:
  build-sample-project:
    name: Build project
    strategy:
      matrix:
        system:
          - macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - 5.2.x

      fail-fast: false
    runs-on: ${{ matrix.system }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: current

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          opam-depext: false

      - name: Install all deps
        run: make install

      - name: Build everything
        run: make build

      - name: Test
        run: make test
